.search-box {
  position: relative;
  bottom: 10px;
}

.search-box span {
  margin-right: 5px;
}

.js-weather {
  display: flex;
  flex-direction: column;
}

.js-weather__box {
  display: flex;
  align-items: center;
}

.js-weather__icon {
  position: relative;
  left: 8px;
}

.js-weather__temperature {
  font-size: 30px;
  font-weight: 700;
}

.js-weather__place {
  font-size: 14px;
  opacity: 0.6;
  text-align: right;
  position: relative;
  bottom: 17px;
}
