@import "./clock.css";

.user-box {
  position: fixed;
  top: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-box {
  margin-top: 30px;
}

.nameForm,
.greetings,
.js-toDoForm {
  display: none;
}

.nameForm input,
.js-toDoForm input {
  background-color: transparent;
  padding-bottom: 5px;
  border: none;
  border-bottom: 3px solid rgba(235, 235, 235, 0.5);
  outline: none;
  text-align: center;
  font-size: 40px;
  color: rgb(235, 235, 235);
}

.nameForm input::placeholder,
.js-toDoForm input::placeholder {
  color: rgba(235, 235, 235, 0.5);
}

.greetings {
  font-size: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.showing {
  display: flex;
  justify-content: center;
  animation: fadeIn 1s linear;
}

.js-toDoForm {
  margin-top: 60px;
}

.js-toDoForm input {
  padding-bottom: 5px;
  font-size: 40px;
}

.js-toDoList {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  width: 60%;
}
